@import "color";
@import "positions";
@import "ui";

@import "chatbot";
@import "section-one";
@import"section-two";
@import"section-three";
@import "jumbotron";
@import "footer";
@import "hamburger";
@import"nav";
// classi comuni
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  color: $color-blue;
  font-family: 'Nunito', sans-serif;
  cursor: default;
}

body{
    overflow-x: hidden;
    position: relative;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}

// classi comuni






