@import "color";
@import "positions";
// @import"nav";
// classi comuni
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  color: $color-blue;
  font-family: 'Nunito', sans-serif;
  cursor: default;
}

body{
    overflow-x: hidden;
    position: relative;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}

// classi comuni

// chatbot
    .assistant-off{
        width: 37.5rem;
        height: 53rem;
        background-color: $color-white;
        bottom: 9.5rem;
        right: 2.5rem;
        border-radius: 0.5rem;
        position: fixed;
        display: none;
        @media screen and (min-width: 360px) and (max-width: 419px) {
            width: 32rem;
        }
        .top{
            height: 7rem;
            width: 100%;
            @include fl-row-sp-c;
            border-radius: 0.5rem 0.5rem 0 0;
            padding: 0 0.5rem;
            background-color: $color-chatbot;
            span{
                color: $color-white;
                font-size: 2rem;
                margin-left: 0.5rem;
                font-weight: 900;
            }
            i{
                color: $color-white;
                font-size: 2rem;
                margin-right: 0.5rem;
            }
        }
        .bottom{
            width: 100%;
            height: calc(100% - 7rem);
            .chat-container{
                height: 7rem;
                width: 100%;
                display: flex;
                .left{
                    width: 20%;
                    height: 100%;
                    @include col-c-end;
                    img{
                        width: 60%;
                        height: auto;
                    }
                }
                .right{
                    width: 80%;
                    height: 100%;
                    @include c;
                    .right-up{
                        width: 100%;
                        height: 50%;
                        @include fl-row-sp-c;
                        padding: 0 1rem;
                        span{
                            color: $color-chat-write;
                            font-size: 1.4rem;
                        }
                    }
                    .right-bottom{
                        width: 100%;
                        height: 50%;
                        font-size: 1.5rem;
                        @include row-c;
                        padding: 0 1rem;
                    }
                }
            }
        }
    }
    .assistant-on{
        width: 24rem;
        height: 13rem;
        background-color: $color-white;
        bottom: 9.5rem;
        right: 2.5rem;
        position: fixed;
        border-radius: 0.5rem;
        .top{
            width: 100%;
            height: 40px;
            @include row-c-c;
            img{
                width: 20%;
                margin-left: 7.5rem;
                margin-bottom: 4rem;
            }
            .close{
                margin-left: 7.5rem;
            }
        }
        .bottom{
            height: calc(100% - 4rem);
            width: 100%;
            @include col-c;
            span{
                font-size: 1.5rem;
                width: 65%;
                font-weight: 200;
                i{
                    font-size: 2rem;
                }
            }
        }
    }
    .chatbot{
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        background-color: $color-chatbot;
        position: fixed;
        bottom: 2.5rem;
        right: 2.5rem;
        margin-left: 21.5rem;
        @include col-c-c;
        z-index: 2;
        i{
            font-size: 3.8rem;
            color: $color-white;
        }
    }

    .chatbot-two{
        display: none;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        background-color: $color-chatbot;
        position: fixed;
        bottom: 2.5rem;
        right: 2.5rem;
        margin-left: 21.5rem;
        @include col-c-c;
        span{
            color: $color-white;
        }
    }
// fine chatbot
// header

nav{
  background-color: $color-white;
  @media screen and (min-width: 360px) and (max-width: 850px) {
    display: none;
    }
  .nav-up{
      height: 5rem;
      position: relative;
      @include fl-row-sp;
      @media screen and (min-width: 360px) and (max-width: 1220px) {
        padding: 0 1.6rem;
        }
        .up-left{
            @include row-st-c;
            ul{
                list-style: none;
                display: flex;
                .over-li{
                    margin-right: 2.5rem;
                    @include row-st-c;
                    span:nth-child(2):hover{
                        text-decoration: underline;
                        color: $color-azzure;
                        cursor: pointer;
                    }

                }
            }
        }
        .up-right{
            height: 100%;
            width: 30rem;
            @include row-fe-c ;
            ul{
                list-style: none;
                display: flex;
                li{
                    margin-left: 2.5rem;
                    @include row-st-c;
                    span:first-child{
                        color:$color-azzure;
                        margin-right: 1rem;
                        font-weight: bolder;
                    }
                    span:nth-child(2):hover{
                        text-decoration: underline;
                        color: $color-azzure;
                        cursor: pointer;
                    }

                }
            }
        }
        .speech-bubble {
            position: absolute;
            border-radius: .4em;
            width: 100px;
            height: 25rem;
            top: 5rem;
            left: 0;
            background-color: $color-background-section;
            display: none;
            z-index: 2;
            ul{
                list-style: none;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;
                li{
                    font-size: 1.2rem;
                    text-align: left;
                    margin-left: 2.5rem;
                    &:hover{
                        text-decoration: underline;
                        color: $color-azzure;
                        cursor: pointer;
                    }
                }
            }
        }

        .speech-bubble:after {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            width: 0;
            height: 0;
            border: 20px solid transparent;
            border-bottom-color: $color-background-section;
            border-top: 0;
            margin-left: -20px;
            margin-top: -20px;
        }
        .speech-bubble-two {
            position: absolute;
            border-radius: .4em;
            width: 150px;
            height: 200px;
            top: 5rem;
            right: 0;
            background-color: $color-background-section;
            z-index: 2;
            display: none;
            ul{
                list-style: none;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;
                li{
                    font-size: 1.2rem;
                    text-align: left;
                    margin-left: 3rem;
                    &:hover{
                        text-decoration: underline;
                        color: $color-azzure;
                        cursor: pointer;
                    }
                }
            }
        }

        .speech-bubble-two:after {
            content: '';
            position: absolute;
            top: 0;
            left: 75%;
            width: 0;
            height: 0;
            border: 20px solid transparent;
            border-bottom-color: $color-background-section;
            border-top: 0;
            margin-left: -20px;
            margin-top: -20px;
        }
    }

    .over-li:first-child:hover .speech-bubble {
        display: flex;
    }
    .over-li-two:nth-child(3):hover .speech-bubble-two {
        display: flex;
    }
    .nav-down{
        height: 8rem;
        @include fl-row-sp-c;
        position: relative;
        @media screen and (min-width: 360px) and (max-width: 1220px) {
            padding: 0 1.6rem;
            }
        .down-left{
            position: relative;
            @include row-st-c;
            height: 100%;
            img{
                width: 14rem;
                height: auto;
                margin-left: -2rem;
            }
            ul{
                list-style: none;
                display: flex;
                height: 100%;
                li{
                    margin-left: 2.5rem;
                    @include row-st-c;
                    height: 100%;
                    span:first-child{
                        font-size: 1.5rem;
                    }
                    span:first-child:hover{
                        text-decoration: underline;
                        color: $color-azzure;
                        cursor: pointer;
                    }
                    .dropdown{
                        position: absolute;
                        width: 120rem;
                        height: 35rem;
                        top: 7.8rem;
                        left: 0;
                        display: none;
                        z-index: 2;
                        .drop-left{
                            flex: 1;
                            height: 100%;
                            background-color: $color-background-section;
                            div{
                                width: 100%;
                                height: 35%;
                                h4{
                                    font-size: 2rem;
                                    margin-left: 2rem;
                                    margin-top: 2rem;
                                }
                                .txt{
                                    width: 70%;
                                    font-size: 1.6rem;
                                    margin-left: 2rem;
                                    color: $color-azzure;
                                    &:hover{
                                        text-decoration: underline;
                                        color: $color-azzure;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                        .drop-right{
                            flex: 5;
                            height: 100%;
                            background-color: $color-white;
                            .drop-right-up{
                                height: 80%;
                                width: 100%;
                                display: flex;
                                flex-wrap: wrap;
                                align-items: center;
                                .square{
                                    width: 33%;
                                    height: 40%;
                                    display: flex;
                                    border-radius: 0.5rem;
                                    &:hover{
                                        box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.16);
                                    }
                                    .left{
                                        width: 15%;
                                        height: 100%;
                                        display: flex;
                                        flex-direction: column;
                                        align-items: flex-end;
                                        justify-content: flex-start;
                                        padding-top: 1.5rem;
                                        img{
                                            width: 50%;
                                            height: auto;
                                        }
                                    }
                                    .right{
                                        width: 85%;
                                        height: 100%;
                                        padding-left: 1.5rem;
                                        padding-top: 1.5rem;
                                        h5{
                                            font-size: 2rem;
                                        }
                                        div{
                                            font-size: 1.5rem;
                                        }
                                        span{
                                            font-size: 1.5rem;
                                            color: $color-azzure;
                                        }

                                    }
                                }
                            }
                            .drop-right-down{
                                height: 20%;
                                width: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-top: 0.05rem solid $color-item-footer;
                                h5{
                                    font-size: 2rem;
                                }
                                div{
                                    font-size: 2rem;
                                    margin: 0 1rem;
                                }
                                span{
                                    font-size: 2rem;
                                    color: $color-azzure;
                                }
                            }
                        }
                    }
                    .dropdown-two{
                        position: absolute;
                        width: 120rem;
                        height: 35rem;
                        background-color: green;
                        top: 7.8rem;
                        left: 0;
                        display: none;
                        z-index: 2;
                    }
                }
                li:first-child:hover .dropdown{
                    display: flex;
                }
                li:nth-child(3):hover .dropdown-two{
                    display: flex;
                }
            }
        }
        .down-right{
            background-color: $color-orange;
            height: 36px ;
            width: 170px;
            color: $color-white;
            font-size: 1.4rem;
            font-weight: 500;
            border-radius: 5px;
            @include col-c-c;
        }
        .down-right:hover{
            opacity: 0.5;
            cursor: pointer;
        }
    }
    // .speech-bubble-two {
    //     position: absolute;
    //     border-radius: .4em;
    //     width: 150px;
    //     height: 200px;
    //     top: 5rem;
    //     right: 0;
    //     background-color: $color-background-section;
    //     z-index: 2;
    //     display: none;
    // }

    // .speech-bubble-two:after {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 75%;
    //     width: 0;
    //     height: 0;
    //     border: 20px solid transparent;
    //     border-bottom-color: $color-background-section;
    //     border-top: 0;
    //     margin-left: -20px;
    //     margin-top: -20px;
    // }

    // .over-li-two:hover .speech-bubble {
    //     display: flex;
    // }
    .scrollnav-container{
        z-index: 100;
        width: 100vw;
        height: 8rem;
        background-color: $color-white;
        padding: 0 15px;
        display: none;
        .nav-down-two{
            max-width: 1200px;
            height: 8rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $color-white;
            .down-left{
                @include row-st-c;
                img{
                    width: 3rem;
                    height: auto;
                }
                ul{
                    list-style: none;
                    display: flex;
                    li{
                        margin-left: 2.5rem;
                        @include row-st-c;
                        span:first-child{
                            font-size: 1.5rem;
                        }
                        span:first-child:hover{
                            text-decoration: underline;
                            color: $color-azzure;
                        }
                    }
                }
            }
            .down-right{
                background-color: $color-orange;
                height: 36px ;
                width: 170px;
                color: $color-white;
                font-size: 1.4rem;
                font-weight: 500;
                border-radius: 5px;
                @include col-c-c;
            }
            .down-right:hover{
                opacity: 0.5;
            }
        }
    }
    .sticky{
        display: inline;
        position: fixed;
        top: 0%;
    }
}

.resp-nav{
    height: 5rem;
    display: none;
    padding: 0 16px;
    justify-content: space-between;
    align-items: center;
    img{
        width: 3rem;
        height: auto;
    }
    @media screen and (min-width: 360px) and (max-width: 850px) {
        display: flex;
    }
}

// fine header

// jumbotron home

.jumbotron{
    width: 100%;
    .band{
        width: 100vw;
        min-height: 100px;
        background-color: $color-blue;
        .band-container{
            min-height: 100px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media screen and (min-width: 768px) and (max-width: 1220px) {
                padding-right: 1.6rem;
            }
            @media screen and (min-width: 360px) and (max-width: 767px) {
                flex-direction: column;
            }
            .band-left{
                width: 70%;
                min-height: 100px;
                color: $color-white;
                font-size: 1.9rem;
                @include col-c-c;
                text-align: center;
                @media screen and (min-width: 360px) and (max-width: 767px) {
                    width: 95vw;
                }
            }
            .band-right{
                width: 200px;
                height: 40px;
                background-color: $color-white;
                border-radius: 5px;
                font-size: 1.5rem;
                @include col-c-c;
                @media screen and (min-width: 360px) and (max-width: 767px) {
                    background-color: transparent;
                    color: $color-white;
                    text-decoration: underline;
                    font-size: 1.9rem;
                    width: 100vw;
                }
            }
            .band-right:hover{
                cursor: pointer;
                opacity: 0.5;
            }
        }
    }
    .jumbotroncontainer{
        width: 100%;
        height: 69.5rem;
        padding-top: 13rem;
        position: relative;
        background-color: #FFF4EF;
        @media screen and (min-width: 360px) and (max-width: 1650px) {
            padding-top: 0;
            height: 50rem;
            @include col-c-c;
        }
        .jumbo-txt{
            height: 100%;
            background-image: url("https://www.hubspot.com/hubfs/raw_assets/public/_Web%20Team%20Assets/Website/assets/svg/hero.svg");
            background-repeat: no-repeat;
            background-position: right bottom;
            @media screen and (min-width: 360px) and (max-width: 1650px) {
                background-image: url("");
            }
            ul{
                list-style: none;
                @media screen and (min-width: 360px) and (max-width: 1650px) {
                    @include col-c-c;
                    text-align: center;
                }
                li:first-child{
                    font-size: 4.5rem;
                    color: $color-blue;
                    width: 40rem;
                    font-weight: bolder;
                    margin-bottom: 4.5rem;
                    @media screen and (min-width: 360px) and (max-width: 419px) {
                        font-size: 3.5rem;
                        width: 80%;
                    }
                }
                li:nth-child(2){
                    font-size: 1.7rem;
                    width: 40rem;
                    line-height: 3rem;
                    font-weight: 50;
                    @media screen and (min-width: 360px) and (max-width: 419px) {
                        width: 80%;
                    }
                }
                li:nth-child(3){
                    font-size: 1.5rem;
                    width:21rem ;
                    height: 7.5rem;
                    border-radius: 0.5rem;
                    background-color: $color-orange;
                    @include col-c-c;
                    color: $color-white;
                    margin: 2.5rem 0;
                }
                li:nth-child(4){
                    font-size: 1.2rem;
                    line-height: 2.4rem;
                    width: 18rem;
                }
                li:nth-child(3):hover{
                    opacity: 0.5;
                    cursor: pointer;
                }
            }
        }
      }
    .jumbotroncontainer:before{
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        width: 30%;
        height: 7.46rem;
        background: #7EDFD3;
        border-top: 2.5px solid #33475b;
        @media screen and (min-width: 360px) and (max-width: 1650px) {
            display: none;
        }
    }
    .jumbotroncontainer:after{
        position: absolute;
        bottom: 0;
        right: 0;
        content: "";
        width: 19%;
        height: 14rem;
        background: #00A48D;
        border-top: 3.5px solid #33475b;
        @media screen and (min-width: 360px) and (max-width: 1650px) {
            display: none;
        }
    }
}

// fine jumbotron home

// sectionone
.section-one{
    background-color: $color-background-section;
    width: 100vw;
    min-height: 14rem;
    @media screen and (min-width: 360px) and (max-width: 768px) {
        padding-top: 2.5rem;
    }
    .one-cont{
        .top{
            width: 100%;
            min-height: 30rem;
            @include col-c-c;
            h2{
                font-size: 3.2rem;
                margin-bottom: 5rem;
                @media screen and (min-width: 360px) and (max-width: 768px) {
                    font-size: 2.4rem;
                    text-align: center;
                    width: 95vw;
                    margin-bottom: 2.5rem;
                }
            }
            p{
                font-size: 1.6rem;
                line-height: 3rem;
                width: 68%;
                margin-bottom: 3rem;
            }
            div{
                display: flex;
                @media screen and (min-width: 360px) and (max-width: 767px){
                    flex-direction: column;
                }
                .btn-one{
                    background-color: $color-orange;
                    color: $color-white;
                    width: 14rem;
                    height: 3.6rem;
                    @include col-c-c;
                    font-size: 1.5rem;
                    margin-right: 2.5rem;
                    border-radius: 0.5rem;
                    @media screen and (min-width: 360px) and (max-width: 767px){
                        width: 90vw;
                        margin:0 0 1.5rem 0;
                    }
                    &:hover {
                        opacity: 0.5;
                    }
                }
                .btn-two{
                    border-radius: 0.5rem;
                    @include col-c-c;
                    background-color: $color-white;
                    color: $color-orange;
                    font-size: 1.5rem;
                    height: 3.6rem;
                    width: 19rem ;
                    border: 1px solid $color-orange;
                    @media screen and (min-width: 360px) and (max-width: 767px){
                        width: 90vw;
                    }
                    &:hover {
                        background-color: rgba(255,122,89,0.1);
                    }
                }
            }
        }
        .bottom{
            display: flex;
            flex-wrap: wrap;
            @media screen and (min-width: 360px) and (max-width: 1200px) {
               align-items: center;
               flex-direction: column;
               flex-wrap: nowrap;
            }
            .square{
                margin: 0 2rem 2rem 0;
                width: 38.65rem;
                height: 45rem;
                background-color: $color-white;
                border-radius: 0.5rem;
                @include col-c-c;
                position: relative;
                &:hover {
                    transform: scale(1.04);
                    transition: 0.1s ease-in-out;
                    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.16);
                }
                @media screen and (min-width: 360px) and (max-width: 1200px) {
                    margin: 2rem 0;
                }
                @media screen and (min-width: 360px) and (max-width: 410px) {
                    width: 34rem;
                }
                .card-container{
                    width: 85%;
                    height: 85%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .title-row{
                        display: flex;
                        align-items: center;
                        font-size: 2.2rem;
                        img{
                            width: 24px;
                            height: 24px;
                        }
                        h3{
                            font-size: 2.5rem;
                            margin-left: 0.5rem;
                        }
                    }
                    p{
                        font-size: 1.7rem;
                        font-weight: 10;
                        line-height: 2.5rem;
                    }
                    .feature-container{
                        padding: 2rem 0;
                        height: 55%;
                        width: 100%;
                        border-top: 0.5px solid lightgray;
                        .subtitle{
                            font-size: 1.7rem;
                            font-weight: 10;
                            margin-bottom: 10rem;
                        }
                        .space{
                            width: 100%;
                            height: 1rem;
                        }
                        .feat-row{
                            display: flex;
                            align-items: center;
                            margin: 1rem 0;
                            span:first-child{
                                color: $color-orange;
                            }
                            span:nth-child(2){
                                font-size: 1.5rem;
                            }
                        }
                        .btn-feat{
                            width: 100%;
                            height: 3.7rem;
                            background-color: $color-orange;
                            @include col-c-c;
                            border-radius: 0.5rem;
                            margin-top: 3rem;
                            &:hover {
                                opacity: 0.5;
                            }
                            span{
                                color: $color-white;
                                font-size: 1.5rem;
                            }
                        }
                    }

                }
            }
            div:nth-child(3){
                margin-right: 0;
            }
            .square:nth-child(5)::after{
                content: 'NEW';
                background-color: #00ABB6;
                color: white;
                border-radius: 1rem 0.2rem 0.2rem 1rem;
                font-size: 1rem;
                font-weight: bold;
                position: absolute;
                width: 4rem;
                height: 2rem;
                @include col-c-c;
                top: 1rem;
                right: -0.5rem;
            }
        }
    }
}
// sectionone fine

// sectiontwo
.section-two{
    width: 100%;
    min-height: 90rem;
    background-color: #00ABB6;
    @include col-c-c;
    .cont-sec-two{
        @include col-c-c;
        h2{
            color: $color-white;
            font-size: 3.5rem;
            width: 60% ;
            text-align: center;
            line-height: 6rem;
            @media screen and (min-width: 768px) and (max-width: 1200px){
                margin-top: 5rem;
                width: 75vw;
            }
            @media screen and (min-width: 360px) and (max-width: 767px){
                font-size: 2.4rem;
                width: 90vw;
                line-height: 3rem;
                margin: 2.5rem 0;
            }
        }
        p{
            color: $color-white;
            font-size: 1.8rem;
            text-align: center;
            width: 60%;
            line-height: 3rem;
            @media screen and (min-width: 360px) and (max-width: 767px){
                width: 90vw;
            }
            @media screen and (min-width: 768px) and (max-width: 1200px){
                width: 75vw;
            }
        }
        .table{
            min-height: 39rem;
            margin-top: 10rem;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            @media screen and (min-width: 360px) and (max-width: 1200px) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex-wrap: nowrap;
                margin-top: 2.5rem;
            }
            div:nth-child(1),div:nth-child(2),div:nth-child(3),div:nth-child(5),div:nth-child(6),div:nth-child(7){
                border-right: 1px solid white;
                @media screen and (min-width: 360px) and (max-width: 1200px){
                    border: none;
                }
            }
            div:nth-child(1),div:nth-child(2),div:nth-child(3),div:nth-child(4){
                border-bottom: 1px solid white;
                @media screen and (min-width: 360px) and (max-width: 1200px){
                    border: none;
                }
            }
            div:nth-child(5){
                img{
                    width: 60%;
                    height: auto;
                }
            }
            .square{
                width: 27.5rem;
                height: 19.5rem;
                @include col-c-c;
                h4{
                    font-size: 4.5rem;
                    margin: 1rem 0;
                    color: $color-white;
                }
                .table-txt{
                    font-size: 1.8rem;
                    color: $color-white;
                }
            }
        }
    }
}
// sectwo fine

// secthree

.sec-three{
    min-height: 85rem;
    background-color: #F5F8FA;
    width: 100vw;
    .sec-three-cont{
        min-height: 85rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .up{
            width: 100%;
            min-height: 20rem;
            display: flex;
            @media screen and (min-width: 360px) and (max-width: 767px){
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }
            .up-left{
                width: 40%;
                min-height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                @media screen and (min-width: 360px) and (max-width: 767px){
                    align-items: center;
                }
                h2{
                    font-size: 4.5rem;
                    @media screen and (min-width: 360px) and (max-width: 767px){
                        margin-top: 2.5rem;
                    }
                }
                p{
                    font-size: 1.8rem;
                    width: 32rem;
                    line-height: 3.6rem;
                    font-weight: 100;
                    @media screen and (min-width: 360px) and (max-width: 767px){
                        text-align: center;
                        margin-bottom: 3rem;
                    }
                }
            }
            .up-right{
                width: 60%;
                height: 20rem;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                @media screen and (min-width: 501px) and (max-width: 767px){
                    width: 100%;
                }
                @media screen and (min-width: 360px) and (max-width: 501px){
                    min-height: 80rem;
                }
                .square{
                    width: 25%;
                    height: 50%;
                    @include col-c-c;
                    @media screen and (min-width: 360px) and (max-width: 501px){
                        width: 50%;
                        height: 25%;
                    }
                    img{
                        width: 60%;
                        height: auto;
                    }
                }
            }
        }
        .down{
            width: 100%;
            min-height: 40rem;
            display: flex;
            @media screen and (min-width: 360px) and (max-width: 767px){
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .down-left{
                width: 60%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                @media screen and (min-width: 360px) and (max-width: 767px){
                    order: 2;
                }
                h2{
                    font-size: 3.5rem;
                    margin-bottom: 1.5rem;
                }
                p{
                    font-size: 1.5rem;
                    line-height: 3rem;
                    width: 75%;
                }
                div{
                    background-color: $color-orange;
                    color: $color-white;
                    @include col-c-c;
                    border-radius: 0.5rem;
                    width: 20rem;
                    height: 7.5rem;
                    font-size: 1.5rem;
                    margin: 1.5rem 0;
                    &:hover{
                        opacity: 0.5;
                    }
                }
                span{
                    font-size: 1.5rem;
                    @media screen and (min-width: 360px) and (max-width: 767px){
                        margin-bottom: 2.5rem;
                    }
                }
            }
            .down-right{
                width: 40%;
                height: 100%;
                @include col-c-c;
                @media screen and (min-width: 360px) and (max-width: 767px){
                    order: 1;
                }
                img{
                    width: 70%;
                    height: auto;
                    @media screen and (min-width: 360px) and (max-width: 767px){
                        height: 25.6rem;
                        width: 21.4rem;
                        margin-bottom: 2.5rem;
                    }
                }
            }
        }
    }
}

// secthreefine

// footer

footer{
    width: 100vw;
    min-height: 66rem;
    background-color: $color-blue-footer;
    .foot-container{
        height: 100%;
        display: flex;
        padding-top: 5rem;
        @media screen and (min-width: 360px) and (max-width: 927px) {
            display: none;
        }
        div:first-child,div:nth-child(3),div:nth-child(4),div:nth-child(5){
            ul{
                li:first-child{
                    color: $color-white;
                    font-size: 1.4rem;
                    margin: 2rem 0;
                    &:hover{
                        text-decoration: none;
                        color: $color-white;
                        cursor: default;
                    }
                }
            }
        }
        div:nth-child(5){
            ul{
                li:nth-child(4){
                    color: $color-white;
                    font-size: 1.4rem;
                    margin: 2rem 0;
                    &:hover{
                        text-decoration: none;
                        color: $color-white;
                        cursor: default;
                    }
                }
            }
        }
        div:nth-child(2){
            padding-top: 6rem;
            border-right: 1px solid #CBD6E2;
            height: 70%;
            margin-right: 5rem;
            width: calc(20% - 5rem);
        }
        .rectangle{
            width: 20%;
            height: 100%;
            ul{
                list-style: none;
                li{
                    color:$color-item-footer;
                    font-size: 1.2rem;
                    margin-bottom: 2rem;
                    &:hover{
                        text-decoration: underline;
                        color: $color-azzure;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .hr-container{
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (min-width: 360px) and (max-width: 927px) {
            justify-content: center;
        }
        .hr{
            border: 1px solid $color-item-footer;
            flex: 1;
            height: 1px;
            @media screen and (min-width: 360px) and (max-width: 927px) {
                display: none;
            }
        }
        .icons-cont{
            flex: 1;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            @media screen and (min-width: 360px) and (max-width: 927px) {
                flex: 0.33;
            }
            .icon{
                color: $color-item-footer;
                font-size: 25px;
                @media screen and (min-width: 360px) and (max-width: 927px) {
                    margin: 0 1.5rem;
                }
            }
        }
    }

    .resp-footer{
        display: none;
        @media screen and (min-width: 360px) and (max-width: 927px) {
            display: flex;
            flex-direction: column;
        }
        .block{
            height: 6rem;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 1.6rem;
            border-bottom: 1px solid #CBD6E2;
            &:hover{
                cursor: pointer;
            }
            span{
                color:$color-white;
                font-size: 1.6rem;
            }
            .arrow{
                font-size: 4rem;
            }
        }
    }
    .app-cont{
        display: none;
        width: 36rem;
        height: 6rem;
        margin: 0 auto;
        .spacing{
            width: 1rem;
        }
        img{
            width: 45%;
            height: auto;
        }
        @media screen and (min-width: 360px) and (max-width: 927px) {
            display: flex;
            justify-content: space-around;
            margin-bottom: 4rem;
        }
    }
    .footend{
        margin: 0 auto;
        width: 30rem;
        height: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        img{
            width: 40%;
            height: auto;
        }
        div{
            color: $color-item-footer;
            font-size: 1.2rem;
        }
        span{
            display: flex;
            align-items: center;
            span{
                color: $color-white;
                font-size: 1.4rem;
                text-decoration: underline;
            }
        }
        .vr{
            width: 1px;
            height: 10px;
            background-color: $color-item-footer;
            margin: 0 10px;
        }
    }
}


// fine footer


