$color-light-blue:#B2E5FC;
$color-dark-blue:#0D2240;
$color-background:#b8dae4;
$color-gray:#737373;
$color-darkest-gray:#3D3D45;

$color-orange:#FF7A59;
$color-azzure:#46BDCF;
$color-blue:#33475B;
$color-white:#ffffff;
$color-blue-footer:#2D3E50;
$color-item-footer:#CBD6E2;
$color-chatbot:#425B76;
$color-chat-write:#88A1BD;
$color-background-section:#F5F8FA;
$background-jumbotron:#FFF4EF;
